{% extends 'base.html.twig' %}

{% block title %}Remplir Feuille de Match{% endblock %}

{% block body %}
    <h1>Remplir la feuille de match : {{ matche.equipe1.nom }} vs {{ matche.equipe2.nom }}</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-success mt-3">Valider la feuille de match</button>
    {{ form_end(form) }}

    <a href="{{ path('app_matche_index') }}" class="btn btn-secondary mt-3">Retour</a>
{% endblock %}
